[Unit]
Description=K32-Bridge
           
[Service]
Type=simple
ExecStart=/root/K32-Bridge/k32-bridge-osc 127.0.0.1
ExecStop=/bin/fuser -k 9037/udp
Restart=always
           
[Install]
WantedBy=default.target
